<div id="bodyCheck" class="container-fluid">
    <div class="row">
        <!--left col-->
        <div class="col-md-5">
            <div class="row">
                <!-- article1 -->
                <div class="col-sm-12"> <span class="label label-default"></span>
                    <h3>Browse Recipes</h3>
                    <p>What's for Dinner is here to make browsing for a meal quick and easy. Search through endless recipes in our kitchen without needing an account.</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="small"><i class="fa fa-clock-o"></i> 2 days ago</p>
                        </div>
                        <div class="col-sm-6 text-right"><i class="fa fa-tags"></i> Tags: <span class="label label-default">yummy</span> <span class="label label-default">love</span> <span class="label label-default">smart</span></div>
                    </div>
                </div>
                <!-- article2 -->
                <div class="col-sm-12">
                    <hr> <span class="label label-default"></span>
                    <h3>Track your ingredients</h3>
                    <p>Want to get the most out of our website? Create an account and now you will be able to track your ingredients in your pantry. You'll be able to find recipes quicker based on your ingredients with a click of a button. </p>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="small"><i class="fa fa-clock-o"></i> 3 days ago</p>
                        </div>
                        <div class="col-sm-6 text-right"><i class="fa fa-tags"></i> Tags: <span class="label label-default">techsavy</span> <span class="label label-default">trackermaster</span></div>
                    </div>
                </div>
                <!-- article3 -->
                <div class="col-sm-12">
                    <hr> <span class="label label-default"></span>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" ng-click="$event.preventDefault()" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" ng-click="$event.preventDefault()" data-slide-to="1"></li>
                            <li data-target="#myCarousel" ng-click="$event.preventDefault()" data-slide-to="2"></li>
                            <li data-target="#myCarousel" ng-click="$event.preventDefault()" data-slide-to="3"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active"> <img src="/app/assets/images/sweet1.jpg" alt="Spices" width="460" height="345"> </div>
                            <div class="item"> <img src="/app/assets/images/waffles.jpg" alt="Chicken" width="460" height="345"> </div>
                            <div class="item"> <img src="/app/assets/images/burger.jpeg" alt="Fruits" width="460" height="345"> </div>
                            <div class="item"> <img src="/app/assets/images/food4.jpg" alt="Dessert" width="460" height="345"> </div>
                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" ng-click="$event.preventDefault()" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
                        <a class="right carousel-control" href="#myCarousel" ng-click="$event.preventDefault()" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                    </div>
                    <p>Now Trending..</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="small"><i class="fa fa-clock-o"></i> 3 days ago</p>
                        </div>
                        <div class="col-sm-6 text-right"><i class="fa fa-tags"></i> Tags: <span class="label label-default">trend</span> <span class="label label-default">popular</span></div>
                    </div>
                </div>
            </div>
        </div>
        <!--right col-->
        <div class="col-md-7">
            <div class="row">
                <h2>What's For Dinner will help you keep track</h2>
                <p>We are here to make cooking more fun and delicious.</p>
                <div class="col-md-7"> <span class="label label-default"></span> <img src="/app/assets/images/cooking.jpg" class="img-responsive">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-meh-o"></i> Max is awesome</a></li>
                    </ul>
                    <hr>
                    <!-- bootstrap media-->
                    <div class="media">
                        <h3>User Reviews</h3>
                        <div class="media-left">
                            <a href="#"> <img class="media-object img-circle" src="/app/assets/images/sam.png" alt="" width=70px> </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">CookieMonsta</h4>
                            <p>"This is the best recipe website of the century."</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#"> <img class="media-object img-circle" src="/app/assets/images/garrett.png" alt="" width=70px> </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">chefgarrett</h4>
                            <p>"I love that I'm able to add my personal recipes! I'm always cooking and using What's for Dinner?"</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#"> <img class="media-object img-circle" src="/app/assets/images/joseph.png" alt="" width=70px> </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">M5g1ggl35</h4>
                            <p>"haha Now I'm always cooking :P"</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#"> <img class="media-object img-circle" src="/app/assets/images/wassim.png" alt="" width=70px> </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">foodjunkie</h4>
                            <p>"I RATE THIS 5 CUPCAKES!"</p>
                        </div>
                    </div>
                    <!-- /bootstrap media-->
                    <hr>
                    <h3>More Features</h3>
                    <p class="small">Save Personal Recipes</p>
                    <p> Have a family recipe? No problem! You can now add your family recipes onto your personal account.</p>
                    <br>
                    <p class="small">Search Bar Upgrade</p>
                    <p> With our search bar, you can serach by an ingredient or recipe.</p>
                    <br> </div>
                <!--rightmost col-->
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-stacked">
                                <li><a href="">Link here <span class="pull-right"><i class="fa fa-angle-right"></i></span></a></li>
                                <li><a href="">Some other link here <span class="pull-right"><i class="fa fa-angle-right"></i></span></a></li>
                                <li><a href="">Add some more <span class="pull-right"><i class="fa fa-angle-right"></i></span></a></li>
                            </ul>
                            <hr> </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Your Ingredients Here</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-6"><img src="/app/assets/images/ing1.jpeg" class="img-responsive"></div>
                                        <div class="col-xs-6"><img src="/app/assets/images/ing2.jpg" class="img-responsive"></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-6"><img src="/app/assets/images/ing3.jpg" class="img-responsive"></div>
                                        <div class="col-xs-6"><img src="/app/assets/images/ing4.jpg" class="img-responsive"></div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-6"><img src="/app/assets/images/ing5.jpeg" class="img-responsive"></div>
                                        <div class="col-xs-6"><img src="/app/assets/images/ing6.jpeg" class="img-responsive"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well">
                                <h3>Heading Here</h3>
                                <p class="small">Small text here</p>
                                <p>Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text tex</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Panel 2</div>
                                <div class="panel-body">
                                    <p>Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text/p> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
