.navbar-form input,
.form-inline input {
    width: auto;
}

#sidebar.affix-top {
    position: static;
}

#sidebar.affix {
    position: fixed;
    top: 80px;
}

footer {
    background: #f1f0f0;
}

#ranBut {
    background-color: #8c2022;
    background-image: none;
}

.regs {
    padding: 90px;
    background-color: #fbf8f1;
}

.logincss {
    padding: 90px;
    background-color: #fbf8f1;
}

#random {
    padding-bottom: 20px;
    display: grid;
}

.recipecss {
    logo padding: 90px;
}

#rightSide {
    width: 27.666667%;
    right: -366px;
}

#leftSide {
    left: -15px;
}

.media-body {
    font-size: 11px;
}

.media-heading {
    font-size: 16px;
}

.topTitle {
    background-image: url(/app/assets/images/title.png);
    width: 110%;
    border-top-right-radius: 75px;
    height: 87px;
    background-color: #ffffff;
    margin-top: -24px;
    margin-right: 178px;
    margin-left: -55px;
    background-size: 215px;
    z-index: 999;
}

.navbar-inverse .navbar-collapse .topTitle {
    background-color: blue;
}

.col-sm-12 {
    padding-top: 60px;
}

.col-sm-4 {
    width: 26.333333%;
    padding-right: 48px;
    margin-left: -14px;
}

.navbar-inverse .navbar-collapse {
    padding-top: 16px;
    border-color: #395c82;
    background: #8c2022;
    z-index: 9999;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.navbar.navbar-inverse {
    background: #8c2022;
    /* opacity: .92; */
    z-index: 20;
    height: 79px;
    color: black;
    margin-bottom: 0px;
}

body {
    height: 426px;
    padding: 50px;
    padding-top: 76px;
    background-image: url(/app/assets/images/back.jpeg);
    background-attachment: fixed;
}

#bodyCheck {
    padding-top: 500px;
}

.panel-primary {
    border-color: #8c2022;
}

#login-dp {
    min-width: 250px;
    opacity: 1;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: white;
}

#login-dp .help-block {
    font-size: 12px;
}

#login-dp .bottom {
    background-color: white;
    opacity: 1;
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

.btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
}

@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}


/*
.nav ul {
    line-height: 20px;
    font-size: 15px;
    float: right;
    position: relative;
}
*/

#container ul li {
    list-style-type: none;
    display: inline-block;
}

#container ul li a {
    color: whitesmoke;
    padding: 22px;
    padding-top: 5px;
    text-decoration: none;
    display: block;
}

#container ul ul {
    position: absolute;
    display: none;
}

#container ul li:hover ul {
    display: block;
}

#container ul li li {
    background: #60000c;
    display: block;
}

#container ul li:hover {
    background: #60000c;
}

#content {
    width: 100%;
    position: relative;
    top: 490px;
    height: 1500px;
    background: #e6d8ba;
}

#image {
    height: 90%;
    width: 100%;
    position: fixed;
    bottom: 165px;
    background-image: url(/app/assets/images/food7.jpg);
    background-size: cover;
}

.homepage {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

.jumbotron {
    margin: 0 auto;
    text-align: center;
    border-radius: 25px;
    width: 60%;
    background-color: transparent;
    padding-top: 35px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}

#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}

#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
}

.col-md-7 h2 {
    font-size: 26px;
    width: 67%;
    padding-top: 58px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(122, 23, 23, 0.19);
}

#divider {
    height: 36px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -57px;
    background-color: #546176;
}

.dropdown-large {
    position: static !important;
}

.dropdown-menu-large {
    margin-left: 16px;
    margin-right: 16px;
    padding: 20px 0px;
}

.dropdown-menu-large > li > ul {
    padding: 0;
    margin: 0;
}

.dropdown-menu-large > li > ul > li {
    list-style: none;
}

.dropdown-menu-large > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
}

.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    color: #999999;
}

.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed;
}

.dropdown-menu-large .dropdown-header {
    color: #428bca;
    font-size: 18px;
}

.panel-primary>.panel-heading {
    color: #ffffff;
    background-color: #8c2022;
    border-color: #8c2022;
}

@media (max-width: 768px) {
    .dropdown-menu-large {
        margin-left: 0;
        margin-right: 0;
    }
    .dropdown-menu-large > li {
        margin-bottom: 30px;
    }
    .dropdown-menu-large > li:last-child {
        margin-bottom: 0;
    }
    .dropdown-menu-large .dropdown-header {
        padding: 3px 15px !important;
    }
}

#border {
    height: 30px;
    background-color: #8c2022;
}


/* animation */

.fond {
    height: 426px;
    position: absolute;
    padding-top: 25px;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-image: url(/app/assets/images/food5.jpeg);
}

.first_div {
    margin-top: 10px;
    position: absolute;
    left: 43%;
    width: 186px;
    height: 181px;
    /* margin-top: -2px; */
    padding: -7px;
    border-radius: 50%;
    -webkit-animation: anim 0.7s 1 ease;
    -moz-animation: anim 0.7s 1 ease;
    -ms-animation: anim 0.7s 1 ease;
    animation: anim 0.7s 1 ease;
}

.second_div {
    width: 198px;
    height: 198px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    -webkit-animation: anim 1s 1 ease;
    -moz-animation: anim 1s 1 ease;
    -ms-animation: anim 1s 1 ease;
    animation: anim 1s 1 ease;
}

.img_div {
    width: 200px;
    height: 200px;
    -webkit-animation: animuser 1s 1 ease;
    -moz-animation: animuser 1s 1 ease;
    -ms-animation: animuser 1s 1 ease;
    animation: animuser 1s 1 ease;
}

#logo {
    height: 325px;
    margin-left: -159px;
}

.img {
    vertical-align: middle;
    /* background-size: 23px; */
}

.first_circle {
    width: 186px;
    height: 181px;
    border-radius: 50%;
    padding: 3px;
    margin-top: 25px;
    position: absolute;
    left: 52%;
    margin-left: -122px;
    border-top: 2px solid #8c2022;
    border-right: 2px solid #731e1f;
    border-bottom: 2px solid #901d21;
    border-left: 2px solid #ffffff;
    -webkit-animation: anim_wifeo 1.4s;
    -moz-animation: anim_wifeo 1.4s;
    -ms-animation: anim_wifeo 1.4s;
    animation: anim_wifeo 1.4s;
}

@-webkit-keyframes anim {
    0% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1.7);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes anim {
    0% {
        -moz-transform: scale(0);
    }
    50% {
        -moz-transform: scale(1.7);
    }
    100% {
        -moz-transform: scale(1);
    }
}

@-ms-keyframes anim {
    0% {
        -ms-transform: scale(0);
    }
    50% {
        -ms-transform: scale(1.7);
    }
    100% {
        -ms-transform: scale(1);
    }
}

@keyframes anim {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes animwelcome {
    0% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(0);
    }
    75% {
        -webkit-transform: scale(1.4);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes animwelcome {
    0% {
        -moz-transform: scale(0);
    }
    50% {
        -moz-transform: scale(0);
    }
    75% {
        -moz-transform: scale(1.4);
    }
    100% {
        -moz-transform: scale(1);
    }
}

@-ms-keyframes animwelcome {
    0% {
        -ms-transform: scale(0);
    }
    50% {
        -ms-transform: scale(0);
    }
    75% {
        -ms-transform: scale(1.4);
    }
    100% {
        -ms-transform: scale(1);
    }
}

@keyframes animwelcome {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    75% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes animuser {
    0% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(0);
    }
    75% {
        -webkit-transform: scale(1.4);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes animuser {
    0% {
        -moz-transform: scale(0);
    }
    50% {
        -moz-transform: scale(0);
    }
    75% {
        -moz-transform: scale(1.4);
    }
    100% {
        -moz-transform: scale(1);
    }
}

@-ms-keyframes animuser {
    0% {
        -ms-transform: scale(0);
    }
    50% {
        -ms-transform: scale(0);
    }
    75% {
        -ms-transform: scale(1.4);
    }
    100% {
        -ms-transform: scale(1);
    }
}

@keyframes animuser {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    75% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes anim_wifeo {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(720deg);
    }
}

@-moz-keyframes anim_wifeo {
    0% {
        -moz-transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(360deg);
    }
    100% {
        -moz-transform: rotate(720deg);
    }
}

@-ms-keyframes anim_wifeo {
    0% {
        -ms-transform: rotate(0deg);
    }
    50% {
        -ms-transform: rotate(360deg);
    }
    100% {
        -ms-transform: rotate(720deg);
    }
}

@keyframes anim_wifeo {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(720deg);
    }
}
